:root {
	--heading-color: #ad8b73;
	--branding-color: #ceab93;
	--secondary-color: #f7e5d0;
	--para-color: #a4907c;
	--background-color: #fff7f0;
	--heading-font-family: "Boston Angel", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	font-family: var(--default-font-family);
	background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font-family);
	color: var(--heading-color);
	font-weight: bold;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 40px;
}

p {
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: var(--para-color);
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.navbar-toggler-icon,
.navbar-toggler,
.navbar-light {
	color: var(--branding-color) !important;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ceab93' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo {
	
}

.content-container {
	padding: 60px 20px;
}

.content h1 {
	font-size: 64px;
	line-height: 80px;
}

.content h2 {
	font-size: 18px;
	font-family: var(--default-font-family);
}

.content h3 {
	font-size: 24px;
	line-height: 1.5;
	font-family: var(--default-font-family);
}

.content p {
	font-size: 14px;
}

.content {
	margin: 30px;
}

.btn {
	border: solid 2px #ceab93;
	border-radius: 30px;
	color: var(--branding-color);
	font-size: 18px;
	padding: 10px 20px;
}

.btn:hover {
	color: antiquewhite;
	background-color: var(--branding-color);
}

.project-desciption {
	padding: 120px 60px;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.col-sm-4 {
	position: relative;
}

.image-container {
	position: relative;
	display: inline-block;
}

.image-container:hover .overlay {
	bottom: 0;
	height: 100%;
	opacity: 1;
}

.overlay {
	background-color: #ceab93;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.overlay-text {
	position: absolute;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	white-space: nowrap;
}

.overlay-text a {
	color: #ffeddb;
	font-size: 24px;
}

.right-rounded {
	border-top-right-radius: 450px;
	position: relative;
}

.left-rounded {
	border-top-left-radius: 450px;
	position: relative;
}

.navbar {
	background: var(--background-color) !important;
}

.navbar-brand {
	margin: 0px !important;
}

.nav-link {
	color: #825c41 !important;
}

.arch {
	border-top-left-radius: 500px;
	border-top-right-radius: 500px;
}

nav a:hover,
nav a.active {
	color: var(--branding-color) !important;
}

nav a {
	text-decoration: none;
	color: var(--heading-color);
	transition: all 100ms ease-in-out;
}

footer {
	margin: 60px 0;
}

footer .contact-box {
	background: var(--secondary-color);
	padding: 30px 120px;
	border-radius: 10px;
}

footer .contact-box p {
	margin: 0;
}

footer .email-link {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

footer .email-link:hover {
	color: var(--branding-color);
}

footer .social-links a {
	margin: 0 20px;
	color: var(--branding-color);
	background: var(--secondary-color);
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 50%;
	transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
	color: var(--secondary-color);
	background: #edcdbb;
}

.contact {
	text-align: center;
	padding: 100px 25px 50px 25px;
}
.contact-links {
	color: var(--branding-color) !important;
	margin-bottom: 30px;
}

hr {
	color: var(--branding-color);
}

/* Responsiveness for phone */

@media (max-width: 576px) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 25px;
	}

	.lf-hero {
		margin-top: 100px;
		max-width: 110%;
	}


	

	
}

/* Responsiveness for standard ipad and smaller < 768px */

@media (min-width: 576px) and (max-width: 768px) {
	.overlay-text a {
		font-size: 13px;
		
	}

	.project-title {
		font-size: 18px;
	}

	.project-info {
		font-size: 14px;
	}
}

/* Responsiveness for M - L screens */

@media (min-width: 768px) and (max-width: 992px) {
	.overlay-text a {
		font-size: 16px;
		
	}
}

/* >992px overlay a 
